.allJobs {
  height: 400px;
  width: 400px;
  &:nth-child(odd) {
    background-color: rgba(96, 238, 191, 0.5);
  }
}
.loveEdit {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.delJob {
  width: 100%;

  position: absolute;
  bottom: 0;
}
.delJob button {
  display: block;
  width: 50%;
  height: 30px;
  border-radius: 10px;
  border: none;
  transition: 0.2s;
  &:hover {
    background-color: #10b981b2;
  }
}
.appiedDisable{
  
}

.addToFavourite,
.edit {
  cursor: pointer;
  transition: 0.2s ease-in;
  &:hover {
    /* transform: scale(4.1px); */
    transform: scale(1.1);
  }
}
@media only screen and (max-width: 580px) {
  .allJobs {
    font-size: 1rem;
    height: 700px;
    width: 200px;
  }
  .messageSends {
    padding: 0;
  }
}
@media only screen and (max-width: 900px) {
  .allJobs {
    font-size: 1rem;
    height: 400px;
    width: 300px;
  }
}
