.singleLatesJob {
  width: 268px;
  height: 308px;
  background-color: #fff;
  position: relative;
  /* z-index: -3; */
  /* height: 400px; */
  /* width: 100%; */
  padding-top: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 0 10px 1px black;
    transform: translateY(-1px);
  }
}
.cLocationAndName h4 {
  font-size: 18px;
}
.cLocationAndName p {
  font-size: 12px;
}
.latestJobCompanyName img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.jobsPostStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seeJobDetailsBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.seeJobDetailsBtn button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: white;
}
.contentOfNewFive {
  padding: 0 5px;
}
.latestJobCompanyName {
  display: flex;
  align-items: center;
}
.nowJobApply-salary {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 40px;
}
.nowJobApply-salary .newJobSalary {
  color: #10b981;
}
.latesCompanyNameOtherDetails,
.newJobDes {
  padding-left: 10px;
}
.latesCompanyNameOtherDetails h3 {
  font-size: 24px;
}
@media only screen and (max-width: 965px) {
  .singleLatesJob {
    height: 450px;
  }

  @media only screen and (max-width: 580px) {
    .singleLatesJob {
      font-size: 1rem;
      height: 500px;
    }
  }
}
