.hero {
  margin-top: 100px;
}
.homeContainer {
  color: black;
}
.heroIntro {
  margin-top: 40px;
  display: flex;
}
.heroIntro h1 {
  margin-top: 50px;
  font-size: 6rem;
  font-weight: 600px;
}
.heroIntro h1 span {
  color: #10b981;
}
.heroIntro h2 {
  font-size: 4rem;
}
.searchByLocation,
.searchBYKeyWord {
  /* width: 100%; */
  gap: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;

  padding: 5px;
}
.searchByLocation input,
.searchBYKeyWord input {
  border: none;
}
.searchByLocation {
  border-left: 2px solid #10b981;
}
.searchBYKeyWord {
  border-radius: 2px solid #10b981;
}
.heroSearchInput {
  border-radius: 20px;
  border: 2px solid #10b981;
  background: #fff;
  box-shadow: 0px 1px 22px 1px rgba(69, 64, 219, 0.04);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 742px;
  margin-top: 20px;
  box-sizing: content-box;
  position: relative;
  max-height: 600px;
}
.searchByLocation button {
  position: absolute;
  background-color: red;
  right: 0;
  top: 0;
  border: none;
  width: 6rem;
  border: none;
  border-radius: 20px;
  background: #10b981;
  /* top: 50%; */
  /* bottom: 50%; */
  height: 100%;
  transform: 0.4s;
  &:active {
    transform: scale(0.8);
  }
}
.explorJobPageBtn button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 2rem;
  background-color: #10b981;
  border-radius: 20px;
  border: none;
  margin-top: 50px;
}

@media only screen and (max-width: 965px) {
  .heroIntro {
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: flex-start;
  }
  .heroIntro h1 {
    margin: 0;
  }
  .hero img {
    width: 100%;
  }
  .heroSearchInput {
    background: #fff;
    padding: 0px;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .searchByLocation,
  .searchBYKeyWord {
    border: none;
    padding: 0;
  }
  .searchBYKeyWord {
    border-bottom: 2px solid #10b981;
  }
  .heroIntro h1 span {
    font-size: 2rem;
  }
  .heroIntro h1 {
    font-size: 3rem;
  }
  .heroIntro h2 {
    font-size: 2rem;
  }
  .searchByLocation button {
    padding: 0;
    width: 50px;
    border-radius: 5px;
  }
}
