.hero {
  margin-top: 100px;
}
.homeContainer {
  color: black;
}
.heroIntro {
  margin-top: 40px;
  display: flex;
}
.heroIntro h1 {
  margin-top: 50px;
  font-size: 6rem;
  font-weight: 600px;
}
.heroIntro h1 span {
  color: #10b981;
}
.heroIntro h2 {
  font-size: 4rem;
}
.searchByLocation,
.searchBYKeyWord {
  /* width: 100%; */
  gap: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;

  padding: 5px;
}
.searchByLocation input,
.searchBYKeyWord input {
  border: none;
}
.jobCategoryArrow {
  /* display: inline-flex; */
  /* align-items: center; */
  display: inline-flex;
  gap: 30px;
  align-items: center;
  /* display: flex; */
  /* align-items: center; */
  /* gap: 10px; */
}
.searchByLocation {
  border-left: 2px solid #10b981;
}
.searchBYKeyWord {
  border-radius: 2px solid #10b981;
}
.heroSearchInput {
  border-radius: 20px;
  border: 2px solid #10b981;
  background: #fff;
  box-shadow: 0px 1px 22px 1px rgba(69, 64, 219, 0.04);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 742px;
  margin-top: 20px;
  box-sizing: content-box;
  position: relative;
  max-height: 600px;
}
.searchByLocation button {
  position: absolute;
  background-color: red;
  right: 0;
  top: 0;
  border: none;
  width: 6rem;
  border-radius: 20px;
  background: #10b981;
  height: 100%;
  transform: 0.4s;
  &:active {
    transform: scale(0.8);
  }
}
.explorJobPageBtn button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 2rem;
  background-color: #10b981;
  border-radius: 20px;
  border: none;
  margin-top: 50px;
}

@media only screen and (max-width: 965px) {
  .heroIntro {
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: flex-start;
  }
  .heroIntro h1 {
    margin: 0;
  }
  .hero img {
    width: 100%;
  }
  .heroSearchInput {
    background: #fff;
    padding: 0px;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .searchByLocation,
  .searchBYKeyWord {
    border: none;
    padding: 0;
  }

  .searchBYKeyWord {
    border-bottom: 2px solid #10b981;
  }
  .heroIntro h1 span {
    font-size: 2rem;
  }
  .heroIntro h1 {
    font-size: 3rem;
  }
  .heroIntro h2 {
    font-size: 2rem;
  }
  .searchByLocation button {
    padding: 0;
    width: 50px;
    border-radius: 5px;
  }
}

.exploreJobs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px 0;
  max-height: 877px;
  width: 100%;
}
.jobCategory {
  padding-top: 20px;
  width: 274px;
  height: 214px;
  margin-top: 20px;
  margin-left: 20px;
}
.fiveLatesJobsStyle {
  margin-top: 50px;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.redrictToJobPageFromToPJobs {
  margin: 100px 0;
  position: relative;
  width: 100%;
  &::after {
    content: "";
    position: absolute;
    background-color: #10b981;
    height: 1px;
    width: 100%;
    z-index: -4;
    top: 50%;
    color: rgb(206, 41, 41);
    left: 0;
  }
}

.redrictToJobPageFromToPJobs button {
  display: block;
  margin: 0 auto;
  border: none;
  width: 200px;
  height: 30px;
  border-radius: 20px;
  color: white;
}

@media only screen and (max-width: 920px) {
  .exploreJobs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-height: 100%;
  }
  .jobCategory {
    margin: 0 auto;
    width: 0;
  }
  .fiveLatesJobsStyle {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 580px) {
  .fiveLatesJobsStyle {
    grid-template-columns: repeat(1, 1fr);
  }
}
