input[type="submit"] {
  background-color: #10b981;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
  display: block;
  margin: 0 auto;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: #10b981a6;
  }
}
