nav {
  height: 80px;
  background-color: #103778;
  box-shadow: 0 0 7px 1px gray;
  /* margin-bottom: 20px; */
}
nav ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul a {
  text-decoration: none;
}
nav .active {
  color: orange;
}

nav a.pending {
  color: red;
}

nav a {
  color: white;
}
li img {
  height: 30px;
  width: 150px;
}
