@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto Serif", serif;

  /* display: none; */
  /* background-color: #f2984abb; */
  /* {} */
}
button {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:active {
    transform: scale(0.8);
  }
background-color: #10b981;
}
a {
  text-decoration: none;
}
